# Environments
.env*
!.env.example
backend/.env.production

# IDE / Editor specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
__MACOSX

# Dependencies / Lock files
node_modules/
# poetry.lock should be committed, but ignore other managers' lock files
pdm.lock
Pipfile.lock

# --- Frontend (Nuxt.js) ---
.nuxt/
.output/
dist/

# --- Python / Backend ---
# Virtual Environments
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Caches and artifacts
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.py[cod]
*$py.class
*.so

# Build outputs
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing artifacts
test.db
*.sqlite
*.sqlite3

# Tool specific configs
.pdm-python
.pdm.toml
